@import 'variables';

#docnav{
    background: white;
    padding: 20px;
    padding-top: 10px;
    padding-right: 30px;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;

    h1{
        font-size: 16px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 15px;
        color: #808080;

    }

    h2{
        font-size: 15px;
        font-weight: 600;
        margin-left: 15px;
        color: #999999;
    }

    h3{
        font-size: 14px;
        font-weight: 400;
        margin-left: 15px;
        color: #999999;
    }

    .subsections{
        border-left: 1px solid #d0d0d0;
        margin-left: 20px;
    }

    .docheader{
        display: flex;
        align-items: center;
        background: #f0f0f0;
        border-radius: 10px;
        padding: 10px;
        margin-top: 8px;

        img{
            height: 50px;
            border-radius: 8px;
        }
        h1{
            color: black;
            margin: 0;
            margin-left: 10px;
            font-size: 18px;
            line-height: 20px;
        }

    }

    .docbtn{

        &.active{
            color: black;
            font-weight: 600;
        }
    }
}

.main{
    background-color: $l-navbar;
    width: calc(100vw - 270px);
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: black;

    .d1{

        h1{
            font-size: 20px;
            font-weight: 700;
            margin: 0;
        }

        p{
            color: #929292;
        }

        background-color: white;
        color: black;
        margin: 0;
        margin-left: 0;
        padding: 15px;
        padding-left: 10px;
    }


    .d2{

        h2{
            font-size: 17px;
            font-weight: 600;
            margin: 0;
        }

        p{
            color: #707070;
        }

        background-color: #e7e7e7;
        margin: 0;
        padding: 10px;
        padding-left: 15px;

    }


    h3{
        font-size: 16px;
        font-weight: 500;
        background-color: $gold;
        color: black;
        width: fit-content;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;

        margin: 10px;
        margin-left: 20px;
        margin-top: 20px;
    }

    p{
        font-size: 14px;
        margin: 5px;
        margin-top: 15px;
        margin-left: 25px;
    }

    .displays{

        display: flex;
        flex-wrap: wrap;

        .display{

            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            p{
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: 500;
            }

            &.img{

                width: 25%;
                height: fit-content;
                margin: 20px;
                margin-bottom: 10px;
                margin-right: 10px;
                background-color: rgba(white, 0.7);
                padding: 20px;
                border-radius: 15px;

                img{
                    width: 100%;
                    border-radius: 10px;
                }
                p{
                    margin: 0;
                    margin-top: 10px;
                    font-weight: 500;
                }
            }
        }
    }
}
