@import 'variables';

#notif{
    display: none;
}

#wave-1{
    opacity: 0.5;
}

#wave-2{
    opacity: 0.4;
}

#wave-3{
    opacity: 0.1;
}

#canvas{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -2;
}

body{
   // background: linear-gradient(45deg, rgba(#8400ff, 1),rgba(#0099ff, 1));
   transition: 0.2s ease;
}

.highlight{
    background: linear-gradient(30deg, #5c00f1, $blue);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
.hl-orange{
    background: linear-gradient(30deg, #FF4003, #FF9803);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
.hl-green{
    background: linear-gradient(30deg, #00bd4f, #00e927);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.footer{
    background: white;
}

@media screen and (min-width: 800px){

    *{
        scroll-behavior: smooth;
    }
    .footer{
        margin-top: 80px;
    }
    .wave{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        display: none;
    }
    .slide{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 80vh;
        transition: 0.3s ease;
        z-index: 3;
        .animation{
            margin-left: 100px;
        }
        figcaption{
            transform: translate(30px, 20px);
        }
        &.first{
            background: none;
            z-index: 1;
            height: 100vh;
        }
        &.light{
            transform: translateX(-80px);
        }
        &.right{
            text-align: right;
            transform: translateX(80px);
            figcaption{
                transform: translate(-30px, 20px);
            }
        }
        &.gone{
            opacity: 0.2;
            transform: translateY(-300px);
        }
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 1400px;
        z-index: 3;
        img{
            height: 500px;
            margin-left: 50px;
        }
    }
    #hero{
        #app{
            width: 600px;
            height: 600px;
            max-width: 40vw;
            max-height: 40vw;
            margin: 0;
            margin-left: -50px;
        }
        figcaption{
            transform: translate(-20px, 10px);
        }
    }
    .flagship{
        max-width: 80vw;
        margin: 0;
        margin-left: 5vw;
        h1{
            font-size: 7.5vw;
            line-height: 7vw;
            margin: 0;
            margin-bottom: 40px;
        }
        .button{
            background: $gold;
            border-radius: 12px;
            padding: 5px;
            width: fit-content;
            padding-left: 30px;
            padding-right: 33px;
            font-weight: 600;
            font-size: $subtitle;
            color: black;
            transition: 0.2s ease;
            &:hover{
                background: $gold2;
            }
        }
        .row{
            display: flex;
            justify-content: flex-start;
            .store{
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background: black;
                padding: 2px;
                padding-left: 20px;
                padding-right: 20px;
                margin-right: 20px;
                border-radius: 12px;
                transition: 0.2s ease;
                color: white;
                img{
                    height: 22px;
                    width: fit-content;
                    margin: 0;
                    margin-right: 5px;
                }
                h2{
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 400;
                    margin-left: 10px;
                    color: white;
                }
                &.app{
                    img{
                        margin-bottom: 2px;
                    }
                }
                &.play{
                    img{
                        height: 22px;
                    }
                }
                &:hover{
                    background: rgba(black, 0.7);
                }
            }
        }
    }
    .expo{
        width: 40vw;
        margin: 20px;
        display: flex;
        flex-direction: column;
        background: rgba(white, 1);
        border-radius: 40px;
        padding: 50px;
        box-shadow: -20px 20px 5px rgba(white, 0.15);
        h1{
            font-size: 45px;
            line-height: 50px;
            margin: 0;
            .italic{
                font-style: italic;
            }
        }
        p{
            font-size: 20px;
            line-height: 26px;
            font-weight: 300;
        }
        .button{
            background: $blue;
            margin-top: 10px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 18px;
            font-weight: 400;
            border-radius: 30px;
            width: fit-content;
            transition: 0.2s ease;
            color: white;
            &:hover{
                background: $blue2;
            }
            &.green{
                background: #2ECB00;
                &:hover{
                    background: #00bd10;
                }
            }
            &.purple{
                background: #aa00ff;
                &:hover{
                    background: #7700ff;
                }
            }
            &.orange{
                background: #ff8800;
                &:hover{
                    background:  #ff5100;
                }
            }
        }
    }
    .animation{
        margin: 0px;
        width: 280px;
        height: 560px;
        border-radius: 40px;
        box-shadow: -5px 5px 0 2px rgba(black, 0.5), -25px 25px 5px rgba(white, 0.1);
        border: 10px solid black;
        background-size: cover;
        transform: translate(-20px, -0px);
        margin-left: -100px;
    }
    .slide{
        &.right{
            .animation{
                margin-left: 0;
                margin-right: 100px;
                box-shadow:  5px 5px 0 2px rgba(black, 0.5), 25px 25px 5px rgba(white, 0.1);
                transform: translate(20px, -0px);
            }
            .expo{
                align-items: flex-end;
                box-shadow: 20px 20px 5px rgba(white, 0.15);
            }
        }
    }
}

@media screen and (max-width: 800px){

    *{
        scroll-behavior: smooth;
    }
    .wave{
        position: fixed;
        top: calc(50vh - 50vw);
        left: calc(50vw - 50vh);
        width: 100vh;
        transform: rotate(90deg);
        z-index: 0;
        display: none;
    }
    .slide{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        transition: 0.3s ease;
        z-index: 3;
        margin-bottom: 30px;
        figcaption{
            transform: translate(-50px, 20px);
        }
        .animation{
            margin: 0;
            width: 30vh;
            height: 60vh;
            border-radius: 20px;
            background-color: white;
            background-size: cover;
            box-shadow: -15px 15px 0 $blue;
            border: 1px solid $blue;
            margin-left: 20px;
        }
        &.right{
            .animation{
                transform: translateY(-200px);
            }
            .expo{
                transform: translateY(calc(60vh + 30px));
            }
        }
        &.first{
            z-index: 1;
            height: 100vh;
            margin-bottom: 50px;
        }
    }

    .expo{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        background: white;
        padding: 20px;
        width: 80vw;
        border-radius: 20px;
        h1{
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
            margin: 0;
            margin-bottom: 10px;
            .italic{
                font-style: italic;
            }
        }
        p{
            display: none;
            margin: auto;
            font-size: 15px;
            line-height: 18px;
            color: rgba(black, 0.5);
            margin: 5px;
            width: 95%;
        }
        .button{
            margin-top: 10px;
            font-size: 16px;
            color: white;
            background: $blue;
            padding: 8px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 400;
            border-radius: 25px;
            width: fit-content;
            transition: 0.2s ease;
            &:hover{
                background: $blue2;
            }
        }
    }

    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        z-index: 1;

    }

    #hero{
        transform: translateY(calc(-350px + 30vw));
        width: 80vw;
        height: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        #app{
            width: 350px;
            margin-bottom: -10px;
        }
        figcaption{
            transform: translate(-20px, 10px);
        }
    }

    .flagship{
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(450px);
        h1{
            width: 100%;
            font-size: 50px;
            line-height: 50px;
            font-weight: 700;
            margin-top: 20px;
        }
        .br{
            background-color: lighten($madness, 10%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            border-radius: 10px;
            margin-top: 5px;
            width: 67vw;
            padding: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: 0.2s ease;
            p{
                font-weight: 500;
                font-size: 18px;
                margin: 0;
            }
            img{
                height: 20px;
                width: 20px;
                margin-left: 12px;
                transition: 0.2s ease;
            }
            &:hover{
                background-color: lighten($madness, 0%);
            }
        }
        .button{
            background: $gold;
            border-radius: 12px;
            padding: 5px;
            width: fit-content;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 700;
            font-size: $paragraph;
            color: black;
            transition: 0.2s ease;
            &:hover{
                background: $gold2;
            }
        }
        .row{
            display: flex;
            justify-content: flex-start;
            width: 90vw;
            .store{
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background: black;
                padding: 0px;
                padding-left: 15px;
                padding-right: 15px;
                margin-right: 15px;
                border-radius: 12px;
                transition: 0.2s ease;
                color: white;
                img{
                    height: 20px;
                    width: fit-content;
                    margin: 0;
                    margin-right: 5px;
                }
                h2{
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                    margin-left: 10px;
                    color: white;
                }
                &.app{
                    img{
                        margin-bottom: 2px;
                    }
                }
                &.play{
                    img{
                        height: 22px;
                    }
                }
                &:hover{
                    background: rgba(black, 0.7);
                }
            }
        }
    }

    figcaption{
        display: none;
    }
}
