body {
  background: white;
  color: black;
}

.main {
  margin: 0;
  padding-bottom: 50px;
}

#wolf .st0 {
  fill: #0286FF;
}

#wolf .st1 {
  fill: #93A1BF;
}

#wolf .st2 {
  fill: #7385ac;
}

#wolf .st3 {
  fill: #93a1bf;
}

#wolf .st4 {
  fill: #455474;
}

#wolf .st5 {
  fill: #323d54;
}

#wolf {
  width: 90vh;
  height: 90vh;
  position: fixed;
  top: 5vh;
  left: calc(50vw - 45vh);
  z-index: -2;
}

#wolf .wolf-poly {
  opacity: 0.05;
}

#wolf .eye {
  opacity: 0.1;
}

.highlight {
  background: linear-gradient(30deg, #5c00f1, #0076FF);
  font-style: italic;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

@media screen and (min-width: 800px) {
  .title {
    text-align: center;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 80px;
    margin-bottom: 50px;
    background: linear-gradient(20deg, #7aff8c, #ceffba);
  }
  .title .text {
    text-align: left;
    margin: 40px;
    margin-left: 80px;
    margin-top: 80px;
    padding-bottom: 10px;
  }
  .title .text h1 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 10px;
  }
  .title .text h1 span {
    font-style: italic;
  }
  .title .text h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
  }
  .title img {
    mix-blend-mode: hard-light;
    width: 250px;
    height: 250px;
    margin-right: 110px;
  }
  .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    max-width: 1100px;
    margin: auto;
    height: 400px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    margin-bottom: -40px;
  }
  .slide img {
    height: 350px;
    margin: 0;
  }
  .slide figcaption {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    color: rgba(0, 0, 0, 0.1);
  }
  .slide .expo {
    margin: 0;
    width: 50vw;
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
  }
  .slide .expo h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
  }
  .slide .expo h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 500;
    color: #a0a0a0;
  }
  .slide .expo p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    margin: 0;
    width: 90%;
  }
  .slide .expo p.finetext {
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #aaaaaa;
    border-radius: 10px;
    padding: 10px;
    background: #f1f1f3;
  }
  .slide.right {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .slide.right .expo {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .slide.right .expo h2 {
    text-align: right;
    float: right;
  }
  .slide.right .expo h1 {
    text-align: right;
    float: right;
  }
  .slide.right .expo p {
    text-align: right;
    float: right;
  }
  .slide.right .expo h2 {
    text-align: right;
    float: right;
  }
}

@media screen and (max-width: 800px) {
  .title {
    text-align: center;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    padding-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(20deg, #7aff8c, #ceffba);
  }
  .title .text {
    text-align: left;
    margin: 20px;
    margin-left: 20px;
    margin-top: 80px;
    padding-bottom: 10px;
  }
  .title .text h1 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 10px;
  }
  .title .text h1 span {
    font-style: italic;
  }
  .title .text h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }
  .title img {
    width: 250px;
    max-width: 90vw;
    height: 250px;
    margin: 0;
  }
  .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    margin-bottom: 20px;
  }
  .slide figcaption {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .slide img {
    width: 98vw;
    border-radius: 35px;
    margin: 0;
  }
  .slide .expo {
    margin: 20px;
    margin-top: 0;
    width: 88%;
    text-align: left;
    max-width: 600px;
  }
  .slide .expo h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #a0a0a0;
  }
  .slide .expo h1 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
  }
  .slide .expo p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin: 0;
  }
  .slide .expo p.finetext {
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #aaaaaa;
    border-radius: 10px;
    padding: 10px;
    background: #f1f1f3;
  }
  .slide.right {
    margin: 0;
  }
}
/*# sourceMappingURL=subpage.css.map */